src/main/resources/schema/schema01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/schema01"
	xmlns:tns="http://www.example.org/schema01"
	elementFormDefault="qualified">
	<element name="user">
		<complexType>
			<sequence>
				<element name="id" type="int"/>
				<element name="username" type="string"/>
				<element name="birth" type="date"/>
			</sequence>
		</complexType>
	</element>
</schema>